MONGODB_URI = mongodb+srv://harsh980126:Heyram*98@mern.wxrrz.mongodb.net/MEAN-Ecommerce?retryWrites=true&w=majority&appName=MERN
TOKEN_SECRET_KEY = "LKJSHDAJHDSAOHDASDIJHASDLKJASDHKSDASDASFE"
FRONTEND_URL = http://localhost:3000